<!doctype html>
<html  lang="en" ng-app="appKlinikFMN">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">	    
		<title>Klinik Feel More Nature ver :00000</title>	
		
	<!-- ANGULAR CS  -->
		<script type="text/javascript" src="js/angular/angular.js"></script>
		<script type="text/javascript" src="js/angular/angular-route.js"></script>
		<script type="text/javascript" src="js/angular/angular-growl.js"></script>		
		<script type="text/javascript" src="js/angular/angular-cookies.js"></script>		

		<script type="text/javascript" src="js/jQuery/jquery-2.1.1.js"></script> 		 
		<script type="text/javascript" src="js/angular/ui-bootstrap-tpls-0.11.0.js"></script>
		<!--script type="text/javascript" src="js/bootstrap/bootstrap.js"></script-->

	<!-- UTAMA.js -->
		<script type="text/javascript" src="js/app/utama.js"></script>		
		
		
	<!-- SERVICE -->
		<script type="text/javascript" src="js/service/appServices.js"></script>
		<script type="text/javascript" src="js/service/authService.js"></script>
		<script type="text/javascript" src="js/service/userService.js"></script>
		<!-- MASTER -->
		<script type="text/javascript" src="js/service/master/groupTindakanService.js"></script>
		<script type="text/javascript" src="js/service/master/tindakanService.js"></script>
		<script type="text/javascript" src="js/service/master/bankService.js"></script>
		<!-- TRANSAKSI -->
		<script type="text/javascript" src='js/service/transaksi/pasienService.js'></script>
		<script type="text/javascript" src='js/service/transaksi/registrasiService.js'></script>
		<script type="text/javascript" src='js/service/transaksi/assessmentService.js'></script>
		<script type="text/javascript" src='js/service/transaksi/transaksiService.js'></script>
		<script type="text/javascript" src='js/service/transaksi/pembayaranService.js'></script>
		<!-- END SERVICE -->


	<!-- CONTROLLER -->
		<script type="text/javascript" src="js/controller/appController.js"></script>
		<script type="text/javascript" src='js/controller/menuController.js'></script>
		<script type="text/javascript" src='js/controller/loginController.js'></script>
		<!-- MASTER -->
		<script type="text/javascript" src='js/controller/master/groupTindakanController.js'></script>
		<script type="text/javascript" src='js/controller/master/tindakanController.js'></script>
		<script type="text/javascript" src='js/controller/master/bankController.js'></script>
		<!-- TRANSAKSI -->
		<script type="text/javascript" src='js/controller/transaksi/pasienController.js'></script>
		<script type="text/javascript" src='js/controller/transaksi/registrasiController.js'></script>
		<script type="text/javascript" src='js/controller/transaksi/assessmentPerawatController.js'></script>
		<script type="text/javascript" src='js/controller/transaksi/assessmentDokterController.js'></script>
		<script type="text/javascript" src='js/controller/transaksi/transaksiController.js'></script>
		<script type="text/javascript" src='js/controller/transaksi/pembayaranController.js'></script>
		<!-- END CONTROLLER -->


		<!--  LAPORAN -->
		<script type="text/javascript" src='js/controller/laporan/laporanController.js'></script>


	<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/styleSendiri.css">
		<link rel="stylesheet" type="text/css" href="css/angular-growl.min.css">
		
		<base href="#/">			
	</head>

	<body >	
		<div ng-controller="menuBarController" >
			<nav class="navbar  navbar-top navbar-inverse " role="navigation" >
		      <div class="container-fluid" >
		        <div class="navbar-header">
		          <a class="navbar-brand" href="#/login"><img src="img/logo.jpg"></a>
		          <a class="navbar-brand" href="#/">
		          <!-- <p style="color:white"class="navbar-text"></p> -->
		          <span style='color:white'>Feel More Natural</span> 
		          </a>
		        </div>

		        <div ng-show="isLogin">
		          <ul class="nav navbar-nav">
		            <li class="dropdown">
		              <a ng-click="$event.preventDefault()" href="#" class="dropdown-toggle" data-toggle="dropdown" >Master <span class="caret"></span></a>
		              <ul class="dropdown-menu">
		                <li><a href="#/groupTindakan"><span class='glyphicon glyphicon-home'></span> Group Tindakan</a></li>
		                <li><a href="#/tindakan"><span class='glyphicon glyphicon-paperclip'></span> Tindakan</a></li>
		                <li><a href="#/bank"><span class='glyphicon glyphicon-gbp'></span> Bank</a></li>		                	                
		              </ul>
		            </li>


		            <li class="dropdown">
		              <a ng-click="$event.preventDefault()" href="#" class="dropdown-toggle" data-toggle="dropdown" > Transaksi <span class="caret"></span></a>
		              <ul class="dropdown-menu">
		              		<li ><a href="#/pasien"><span class='glyphicon glyphicon-globe'></span> Pasien</a></li>
			              <li><a href="#/registrasi"><span class='glyphicon glyphicon-book'></span> Registrasi</a></li>		  			                                      
			              <li><a href="#/assesmentPerawat"><span class='glyphicon glyphicon-book'></span> Assessment Nurse</a></li>		  			                                      
			              <li><a href="#/assesmentDokter"><span class='glyphicon glyphicon-book'></span> Assessment Dokter</a></li>		  			                                      
			              <li><a href="#/transaksi"><span class='glyphicon glyphicon-book'></span> Transaksi</a></li>		  			                                      
			              <li><a href="#/pembayaran"><span class='glyphicon glyphicon-book'></span> Pembayaran</a></li>		  			                                      

		              </ul>
		            </li>

		            <li class="dropdown">
		              <a class="dropdown-toggle" data-toggle="dropdown" ng-click="$event.preventDefault()" href="#">Laporan <span class="caret"></span></a>
		              <ul class="dropdown-menu">
		                <li><a href="#"><span class='glyphicon glyphicon-forward'></span> Laporan All</a></li>		                             
		              </ul>
		            </li>

		            <li class="dropdown">
		              <a class="dropdown-toggle" data-toggle="dropdown" ng-click="$event.preventDefault()" href="#">Utility <span class="caret"></span></a>
		              <ul class="dropdown-menu">
		                <li><a href="#/masterUser"><span class="glyphicon glyphicon-user"></span>  User </a></li>
		                <li><a href="#/config"><span class="glyphicon glyphicon-wrench"></span>  Config </a></li>
		                <li><a href="#/login"><span class="glyphicon glyphicon-off"></span>  Logout</a></li>	                
		              </ul>
		            </li>
		          </ul>
		        </div>
		        <div>
		      	<p class="navbar-text navbar-right"><span  >{{namaLogin}}</span>  </p>
		      	</div>
		      </div>
		      
		    </nav>
  		</div>	

  		<div  class="container "> 		
  		<!-- class="container view-animate-container"  style="background-color:#EFEFEF"-->
			<div  ng-view  ></div>		
			<!-- <div ng-view class="view-animate" ></div>		 -->
		</div>
	    
	    <div class="clearfix visible-lg"></div>

	</body>
</html>
