

<div growl></div>
<div class="container" style="width:40%" >

<!-- <form class="form-signin" role="form"> -->
  <div class='row text-center'>
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" style="width: 200px; height: 200px;">
  
    <br>
    <h2 class="form-signin-heading text-center">Login</h2>
    <label for="inputEmail" class="sr-only">User id</label>
    <input type="text" ng-model="userId" class="form-control text-center" placeholder="Input User ID" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" ng-model="password" class="form-control text-center" placeholder="Password" ng-keypress="login()" required>
    <br>
    <button class="btn btn-lg btn-primary btn-block" ng-click='login()'>Sign in</button>
    <br>
  </div>
<!-- </form> -->

</div> <!-- /container -->
