<div class="container">
	<div class="jumbotron">
		<h1 style="color:#FF3333">Feel More Natural...!</h1>      
		<p>Haiiiii...</p> 	           	        
	</div>
</div>

<div class="container">
  	<div class="row">
    	<div class="col-md-3">
      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint modi rerum corporis accusamus beatae animi iste quod nulla quaerat sequi vero quas eligendi, suscipit facilis libero quo in voluptates cum.</p>
    	</div>
    	<div class="col-md-3"> 
      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, minus.</p>
    	</div>
		<div class="col-md-3"> 
  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore veniam deserunt explicabo, nisi repellendus unde doloremque maiores, esse odio corporis.</p>
		</div>
	</div>
</div >
