<div growl></div> 
<div class='container' collapse="tutupGrid"  style="background-color:white"  >
<br>
	<div>
		Cari Nama  : <input id='idCari' type='text' ng-model='searchNama' ng-change='getAll()' >
		<input type='button' 				
				class='btn btn-primary btn-xm'
				ng-click='tambah()'				
				value="  Add New " 
				style='width:15em; height:3em'				
				/>
	</div>
	<br>
	<table class="table table-bordered table-striped table-condensed table-hover" style="background-color:#D6EBFF"  >
		<thead>
			<tr>
				<td width="10%" align="center"> <button class="btn btn-block btn-default" >Id</button></td>	
				<td width="70%" align="center"> <button class="btn btn-block btn-default" >Nama</button></td>					    							   			   
			    <td width="20%" ></td>
			    <!-- <td width="10%"></td> -->
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat='user in users  ' >
				<td>{{user.idUser}}</td>
				<td>{{user.username}}</td>				
			    <td><button type='button' class='btn btn-warning btn-block btn-sm'
			    	ng-click='ubah(user.idUser, $index)'
			    	><span> Edit </span></button></td>			    	    
			</tr>		
		</tbody>
	</table>
	<div class="row">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" 
         	ng-model="currentPage" ng-change="pageChanged()" max-size="10" boundary-links="true" rotate="false"></pagination>
    </div>
</div>

<div collapse="!tutupGrid" ng-class='classForm' class='container-fluid' style='color:whitesmoke'  >
	<div>
		<h3 >Detil</h3>		
		<br>

		<table id="tableFormEdit">
			<thead>
				<tr width='10%'></tr>	
				<tr width='10%'></tr>	
				<tr width='60%'></tr>	
				
			</thead>			
			<tbody>
				<tr>
					<td >Id</td>
					<td >:</td>
					<td ><input type='text' ng-disabled='true' ng-model='user.idUser' /> </td>
				</tr>				
			    <tr>
					<td>Nama</td>
					<td>:</td>
					<td ><input type='text'  ng-model='user.username' size="30"  /> </td>
				</tr>
				<tr>
					<td>Password</td>
					<td>:</td>
					<td ><input type='password'  ng-model='user.password' size='10'  /> </td>
				</tr>	
				<tr>
					<td >field</td>
					<td >:</td>
					<td ><input type='checkbox' ng-model='user.field' /> </td>
				</tr>				
			    <tr>
					<td>Tarif</td>
					<td>:</td>
					<td ><input type='checkbox'  ng-model='user.tariff'   /> </td>
				</tr>
				<tr>
					<td>Pasien</td>
					<td>:</td>
					<td ><input type='checkbox'  ng-model='user.patient'  /> </td>
				</tr>														
				<tr>
					<td >Registrasi</td>
					<td >:</td>
					<td ><input type='checkbox' ng-model='user.registration' /> </td>
				</tr>				
			    <tr>
					<td>User</td>
					<td>:</td>
					<td ><input type='checkbox'  ng-model='user.user'   /> </td>
				</tr>
				<tr>
					<td>Transaksi</td>
					<td>:</td>
					<td ><input type='checkbox'  ng-model='user.transaction'  /> </td>
				</tr>		
				<tr>
					<td>Pembayaran</td>
					<td>:</td>
					<td ><input type='checkbox'  ng-model='user.payment'  /> </td>
				</tr>		
			</tbody>			
		</table>
		<br>		

		<table border='0' >
			<thead>
				<tr >
					<td width='8%'></td>
					<td width='1%'></td>
					<td width='8%'></td>
					<td width='20%'></td>
					<td width='20%'></td>
				</tr>	
			</thead>			
			<tbody>
				<tr>
					<td><button class="btn btn-warning btn-block" ng-click='proses()'>Ok</button></td>
					<td></td>					
					<td><button class="btn btn-success btn-block" ng-click='tutupDetil()'>Close</button></td>
					<td></td>					
					<td></td>					
				</tr>
			</tbody>
		</table>
		
	</div>

	<hr>	

</div>