<div growl></div> 
<div class='container' collapse="tutupGrid"  style="background-color:white"  >
<br>
	<div>
		Cari Nama  : <input id='idCari' type='text' ng-model='searchNama' ng-change='getAll()' >
		<input type='button' 				
				class='btn btn-primary btn-xm'
				ng-click='tambah()'				
				value="  Add New " 
				style='width:15em; height:3em'				
				/>
	</div>
	<br>
	<table class="table table-bordered table-striped table-condensed table-hover" style="background-color:#D6EBFF"  >
		<thead>
			<tr>
				<td width="20%" align="center"> <button class="btn btn-block btn-default" >Group</button></td>	
				<td width="5%" align="center"> <button class="btn btn-block btn-default" >Id</button></td>
				<td width="40%" align="center"> <button class="btn btn-block btn-default" >Nama</button></td>
				<td width="20%" align="center"> <button class="btn btn-block btn-default">Aktif</button></td>			    							   			    
			    <td width="15%" ></td>
			    <!-- <td width="10%"></td> -->
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat='tindakan in tindakans  ' >
				<td>{{tindakan.tariffGroup.tariffGroupName}}</td>
				<td>{{tindakan.idTariff}}</td>
				<td>{{tindakan.tariffName}}</td>
				<td>{{tindakan.active}}</td>				
			    <td><button type='button' class='btn btn-warning btn-block btn-sm'
			    	ng-click='ubah(tindakan.idTariffGroup, $index)'
			    	><span> Edit </span></button></td>			    	    
			</tr>		
		</tbody>
	</table>
	<div class="row">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" 
         	ng-model="currentPage" ng-change="pageChanged()" max-size="10" boundary-links="true" rotate="false"></pagination>
    </div>
</div>

<div collapse="!tutupGrid" ng-class='classForm' class='container-fluid' style='color:whitesmoke'  >
	<div>
		<h3 >Detil</h3>		
		<br>

		<table id="tableFormEdit">
			<thead>
				<tr width='10%'></tr>	
				<tr width='10%'></tr>	
				<tr width='60%'></tr>	
				
			</thead>			
			<tbody>
				<tr>
					<td >Id</td>
					<td >:</td>
					<td ><input type='text' ng-disabled='true' ng-model='groupTindakan.idTariffGroup' /> </td>
				</tr>				
			     <tr>
					<td>Nama</td>
					<td>:</td>
					<td ><input type='text'  ng-model='groupTindakan.tariffGroupName' size="50"  /> </td>
				</tr>	
				
				<tr>
					<td>Aktif</td>
					<td>:</td>
					<td><input type='text' maxlength='100' ng-model='groupTindakan.active' size="50"  /> </td>
				</tr>														
			</tbody>
		</table>
		<br>		

		<table border='0' >
			<thead>
				<tr >
					<td width='8%'></td>
					<td width='1%'></td>
					<td width='8%'></td>
					<td width='20%'></td>
					<td width='20%'></td>
				</tr>	
			</thead>			
			<tbody>
				<tr>
					<td><button class="btn btn-warning btn-block" ng-click='proses()'>Ok</button></td>
					<td></td>					
					<td><button class="btn btn-success btn-block" ng-click='tutupDetil()'>Close</button></td>
					<td></td>					
					<td></td>					
				</tr>
			</tbody>
		</table>
		
	</div>

	<hr>	

</div>