<div growl></div> 
<div class='container' collapse="tutupGrid"  style="background-color:white"  >
<br>
	<div>
		Cari Nama  : <input id='idCari' type='text' ng-model='search' ng-change='getAll()' style='width:30em'>
		<input type='button' 				
				class='btn btn-primary btn-xm'
				ng-click='cari()'				
				value=" Refresh " 
				style='width:10em; height:3em; background-color:green'				
				/>
		<input type='button' 				
				class='btn btn-primary btn-xm'
				ng-click='tambah()'				
				value="  Add New " 
				style='width:10em; height:3em'				
				/>
	</div>
	<br>
	<table class="table table-bordered table-striped table-condensed table-hover" style="background-color:#D6EBFF"  >
		<thead>
			<tr>
				<td width="5%" align="center"> <button class="btn btn-block btn-default" >Id</button></td>	
				<td width="45%" align="center"> <button class="btn btn-block btn-default" >Nama Tarif</button></td>
				<td width="10%" align="center"> <button class="btn btn-block btn-default" >Tarif RS</button></td>
				<td width="10%" align="center"> <button class="btn btn-block btn-default" >Tarif Dokter</button></td>
				<td width="10%" align="center"> <button class="btn btn-block btn-default" >Variabel</button></td>
				<td width="10%" align="center"> <button class="btn btn-block btn-default">Aktif</button></td>			    							   			    
			    <td width="10%" ></td>
			    <!-- <td width="10%"></td> -->
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat='tindakan in tindakans  ' >
				<td>{{tindakan.idTariff}}</td>
				<td>{{tindakan.tariffName}}</td>
				<td>{{tindakan.rs}}</td>
				<td>{{tindakan.dokter}}</td>				
				<td>{{tindakan.variable}}</td>				
				<td>{{tindakan.active}}</td>				
			    <td><button type='button' class='btn btn-warning btn-block btn-sm'
			    	ng-click='ubah(tindakan.idTariff, tindakan.tariffName, $index)'
			    	><span> Edit </span></button></td>			    	    
			</tr>		
		</tbody>
	</table>
	<div class="row">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" 
         	ng-model="currentPage" ng-change="pageChanged()" max-size="10" boundary-links="true" rotate="false"></pagination>
    </div>
</div>

<div collapse="!tutupGrid" ng-class='classForm' class='container-fluid' style='color:whitesmoke'  >
	<div class="container-fluid" style="width: 80%">
		<h3 >Detil</h3>
		<hr>	
		  <form class="form-horizontal" >
		  <div class="form-group">
		      <label for="idTariff" class="col-sm-2 control-label">ID</label>
		      <div class="col-sm-10">
		        <input type="text" class="form-control" id="idTariff" placeholder="Kode Tarif " ng-model="tindakan.idTariff" style="width:20%" ng-disabled="true">
		      </div>
		    </div>

		    <div class="form-group">
		      <label for="tariffName" class="col-sm-2 control-label">Nama Tarif</label>
		      <div class="col-sm-10">
		        <input type="text" class="form-control" id="tariffName" placeholder="Nama Tarif " ng-model="tindakan.tariffName"  style="width:70%">
		      </div>
		    </div>

		    <div class="form-group">
		      <label for="rs" class="col-sm-2 control-label">Tarif RS</label>
		      <div class="col-sm-10">
		        <input type="text" class="form-control" id="rs" placeholder="Tarif RS " ng-model="tindakan.rs"  style="width:30%">
		      </div>
		    </div>

		    <div class="form-group">
		      <label for="dokter" class="col-sm-2 control-label">Tarif Dokter</label>
		      <div class="col-sm-10">
		        <input type="text" class="form-control" id="rs" placeholder="Tarif Dokter " ng-model="tindakan.dokter"  style="width:30%">
		      </div>
		    </div>

		    <div class="form-group">
		      <label for="variable" class="col-sm-2 control-label">Variabel</label>
		      <div class="col-sm-10">
		        <select class="form-control" if="variable" ng-model="tindakan.variable"  style="width:20%">
		          <option value="true" >Aktif</option>
		          <option value="false">Non Aktif</option>        
		        </select>
		      </div>
		    </div>

		    <div class="form-group">
		      <label for="active" class="col-sm-2 control-label">Status</label>
		      <div class="col-sm-10">
		        <select class="form-control" if="active" ng-model="tindakan.active"  style="width:20%">
		          <option value="true" >Aktif</option>
		          <option value="false">Non Aktif</option>        
		        </select>
		      </div>
		    </div>

		    <div class="form-group">
		      <div class="col-sm-offset-2 col-sm-2">
		        <button ng-click='proses()' class="btn btn-danger btn-block"><span class="glyphicon glyphicon-save" aria-hidden="true">  Simpan  </button>
		      </div>
		      <div class="col-sm-2">
		        <button ng-click='tutupDetil()' class="btn  btn-block"><span class="glyphicon glyphicon-save" aria-hidden="true">  Close  </button>
		      </div>
		    </div>

		  </form>
	</div>

	<hr>	

</div>