
<div class="container-fluid" style="width: 80%; background-color:white" >
<div growl></div> 
<br>
  <form class="form-horizontal" >
  <div class="form-group">
      <label for="patientNo" class="col-sm-2 control-label">Nomor Pasien</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="patientNo" placeholder="Nomor RM " ng-model="registrasi.patient.patientNo" ng-disabled="true" style="width:20%">
      </div>
    </div>
    <div class="form-group">
      <label for="patientName" class="col-sm-2 control-label">Nama</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="patientName" placeholder="Nama Pasien " ng-model="registrasi.patient.patientName"  style="width:70%" ng-disabled="true" >
      </div>
    </div>    
    <div class="form-group">
      <label for="birthDate" class="col-sm-2 control-label">Tgl Lahir</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="birthDate"ng-model="registrasi.patient.birthDate"  style="width:70%" ng-disabled="true" >
      </div>
    </div>    
    <div class="form-group">
      <label for="patientCity" class="col-sm-2 control-label">Kota</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="patientCity" placeholder="City" ng-model="registrasi.patient.patientCity"  style="width:40%" ng-disabled="true" >
      </div>
    </div>            

    <hr>

    <div class="form-group">
    <label for="weight" class="col-sm-2 control-label">weight </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="weight" placeholder="kg" ng-model="assessment.weight"  style="width:20%"  >
      </div>
    </div>   

    <div class="form-group">
    <label for="height" class="col-sm-2 control-label">height </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="height" placeholder="cm" ng-model="assessment.height"  style="width:10%"  >
      </div>
    </div> 
    <div class="form-group">
    <label for="height" class="col-sm-2 control-label">BMI</label>
      <div class="col-sm-10">
      <span class="form-control" placeholder="automatic" style="width:20%">{{assessment.weight / (assessment.height * assessment.height / 10000) | number:3 }}</span>        
      </div>
    </div>   

    <div class="form-group">
      <label for="respiratoryRate" class="col-sm-2 control-label">respiratory Rate </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="respiratoryRate" placeholder="x / minute" ng-model="assessment.respiratoryRate"  style="width:20%" >
      </div>
    </div>
    <div class="form-group">
        <label for="sistolic" class="col-sm-2 control-label">sistolic </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="sistolic" placeholder="mmHg" ng-model="assessment.sistolic"  style="width:20%" >
          </div>
    </div>  

    <div class="form-group">
    <label for="diastolic" class="col-sm-2 control-label">diastolic </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="diastolic" placeholder="mmHg" ng-model="assessment.diastolic"  style="width:20%"  >
      </div>
    </div>     

    <div class="form-group">
      <label for="temperature" class="col-sm-2 control-label">temperature </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="temperature" placeholder="celcius" ng-model="assessment.temperature"  style="width:20%"  >
      </div>
    </div> 

    <div class="form-group">
      <label for="heartRate" class="col-sm-2 control-label">heartRate </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="heartRate" placeholder="x / minute" ng-model="assessment.heartRate"  style="width:20%">
      </div>
    </div>   

    <div class="form-group">
      <label for="tools" class="col-sm-2 control-label">tools </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="tools" placeholder="" ng-model="assessment.tools"  style="width:80%"  >
      </div>
    </div> 
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="simpan()" class="btn btn-primary"><span class="glyphicon glyphicon-save" aria-hidden="true">  Simpan  </button>
      </div>
    </div>

  </form>
</div>