<div growl></div> 
<div class='container' style="background-color:white" >		
	<br>
	<div class='container-fluid' style=" background-color:#99B2FF; "  >
	<br>
	<table border="0" style="width:100%;" >
		<!-- <thead>
			<tr style="width:10%;"  ></tr>	
			<tr style="width:40%;"></tr>	
			<tr style="width:10%;"></tr>	
			<tr style="width:40%;"></tr>				
		</thead>			
		<tbody > -->
		<col width="15%">
		<col width="35%">
  		<col width="10%">
  		<col width="40%">
			<tr>
				<td style="color:white"  >					
				    <label class="control-label" >No Pembayaran</label>
				</td>									
				<td style="color:white"  >
				    <input type='text' ng-disabled='true' style="width:50%"  ng-model='payment.paymentNo' class="form-control" style="color:blue" /> 
				</td>
				<td style="color:white" >					
				      <label class="control-label">No Reg </label>		
				</td>									
				<td style="color:white" >					
				    <input type='text' ng-disabled='true' style="width:50%;color:blue"  ng-model='registrasi.registrationNo' class="form-control" />
				</td>
			</tr>
			<tr>
				<td style="color:white" height="25" >					
				    <label class="control-label">Tanggal Bayar</label>
				</td>									
				<td style="color:white"  >
				    <input type='text' 
				    	ng-disabled='true' 
				    	ng-model='payment.paymentDate'
						datepicker-popup="dd-MMM-yyyy" 						
						style="width:50%;color:blue" 
						class="form-control"
				    	/> 
				</td>
				<td style="color:white" >					
				      <label class="control-label">No RM</label>		
				</td>									
				<td style="color:white" >					
				    <input type='text' ng-disabled='true' style="width:50%;color:blue"  ng-model='registrasi.patient.patientNo' class="form-control"/> 			
				</td>
			</tr>
			<tr>
				<td style="color:white" height="25" >					
				    <label class="control-label">Nama</label>
				</td>									
				<td style="color:white"  >
				    <input type='text' ng-disabled='true' style="width:90%;color:blue"   ng-model='registrasi.patient.patientName' class="form-control"/> 
				</td>
				<td style="color:white" >					
				      <label ></label>		
				</td>									
				<td style="color:white" >	
				 	<button  class="btn btn-success" style="width:30%" ng-click="approve()" ng-disabled="isVoided || isApproved">Approve</button>
				 	<button  class="btn btn-info " style="width:30%" ng-click="showPreview=!showPreview"  ng-disabled="isVoided ">Print</button>
				 	<button  class="btn btn-danger" style="width:30%" ng-click="void()" ng-disabled="isVoided ">Void</button>				 	
				</td>				
			</tr>	
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="well" collapse='showPreview'>
				 		<button  class="btn btn-default "  style="width:40%" ng-click="printkwitansi()">Print Kwitansi</button>				 	
				 		<button  class="btn btn-default " style="width:40%" ng-click="printRincian()" ng-disabled="isVoided ">Print Rincian</button>				 	
				 	</div>
				</td>
			</tr>						
		<!-- </tbody> -->
	</table>		
	<!-- <hr> -->
	<br>
		<div style="background-color:white" class="container-fluid">
		<br>
		<div style="height:190px; background-color:white-smoke" >
			<table class="table table-bordered table-striped table-condensed table-hover" style="background-color:#FFFFC2" >
				<thead>
					<tr>								
						<td width="10%" align="center"><button class="btn btn-block btn-default" >Id</button></td>
						<td width="20%"><button class="btn btn-block btn-default" >No Trans</button></td>		
					    <td width="20%"><button class="btn btn-block btn-default" >Tanggal</button></td>
					    <td width="15%"><button class="btn btn-block btn-default" >Approve</button></td> 					    
					    <td width="15%"><button class="btn btn-block btn-default" >Void</button></td>
					    <td width="20%"><button class="btn btn-block btn-default" >Total</button></td>
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat='transaksiHd in transaksiHds ' >
						<td>{{transaksiHd.idTransactionHdr}}</td>
						<td>{{transaksiHd.transactionNo}}</td>	
						<td>{{transaksiHd.transactionDate | date:'dd-MMM-yyyy'}}</td>			
					    <td>{{transaksiHd.isApprove }}</td>					
					    <td>{{transaksiHd.isVoid}}</td>
					    <td align="right"> {{transaksiHd.total| number:0}}</td>
					</tr>		
				</tbody>
			</table>			
		</div>
		<!-- PAGING -->
			<div class="container ">
	        <pagination total-items="totalItems" items-per-page="itemsPerPage" 
	         	ng-model="currentPage" ng-change="pageChanged()" max-size="10" boundary-links="true" rotate="false"></pagination>
	    	</div> <!-- END PAGING -->
		</div>
		<!--  TOTAL -->
		<br>
		<table border="0" style="width:100%;" >		
			<col width="10%">
			<col width="25%">
			<col width="10%">
			<col width="25%">
			<col width="5%">
			<col width="25%">			
			<tr>
				<td style="color:white"  >					
				    <label class="control-label"> Tindakan</label>
				</td>									
				<td style="color:white"  >
				    <!-- <input type='text' ng-disabled='true'/> -->
				    <span class="form-control" style="width:90%; text-align:right; color:blue; background-color:whitesmoke"  >{{payment.transactionTotal | currency :'Rp '}} </span>
				</td>		
				<td style="color:white"  >					
				    <label class="control-label"> disc tindakan</label>
				</td>									
				<td style="color:white"  >
				    <input type='number' step="50000" min="0" placeholder='Discount dalam Rp'  style="width:90%" ng-model='payment.discTransaction' class="form-control"/> 
				</td>	
				<td style="color:white"  >					
				    <label class="control-label; text-align:center" > :</label>
				</td>									
				<td style="color:white"  >
				    <!-- <input type='text' ng-disabled='true'/> -->
				    <span class="form-control" style="width:90%; text-align:right; color:blue; background-color:whitesmoke"  >{{payment.transactionTotal - payment.discTransaction | currency :'Rp '}} </span>
				</td>				
			</tr>
			<tr>
				<td style="color:white" >					
				    <label class="control-label">Farmasi</label>
				</td>									
				<td style="color:white"  >
				    <!-- <input type='text' ng-disabled='true' style="width:70%" ng-model='payment.pharmacyTotal' class="form-control"/>  -->
				    <span class="form-control" style="width:90%; text-align:right; color:blue; background-color:whitesmoke"  >{{payment.pharmacyTotal | currency :'Rp '}} </span>
				</td>	
				<td style="color:white"  >					
				    <label class="control-label"> disc Farmasi</label>
				</td>									
				<td style="color:white"  >
				    <input type='number' step="50000" min="0" placeholder='Discount dalam Rp'  style="width:90%" ng-model='payment.discPharmacy' class="form-control"/> 
				</td>	
				<td style="color:white"  >					
				    <label class="control-label; text-align:center" > :</label>
				</td>									
				<td style="color:white"  >
				    <!-- <input type='text' ng-disabled='true'/> -->
				    <span class="form-control" style="width:90%; text-align:right; color:blue; background-color:whitesmoke"  >{{payment.pharmacyTotal - payment.discPharmacy | currency :'Rp '}} </span>
				</td>						
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td style="color:white" >									
				    <label class="control-label" align='right'> Total</label>
				</td>									
				<td></td>
				<td style="color:white"  >
				    <!-- <input type='text' ng-disabled='true' style="width:70%" ng-model='subTotal' class="form-control"/>  -->
				    <span class="form-control" style="width:90%; text-align:right; color:blue; background-color:whitesmoke"  >{{(payment.transactionTotal - payment.discTransaction) + (payment.pharmacyTotal - payment.discPharmacy) | currency :'Rp '}} </span>
				</td>												
			</tr>
			<!-- <tr>
				<td style="color:white"  >					
				    <label class="control-label"> Disc</label>
				</td>									
				<td style="color:white"  >
				    <input type='number' step="50000" min="0" placeholder='Discount dalam Rp'  style="width:50%" ng-model='payment.disc' class="form-control"/> 
				</td>												
			</tr>
			<tr>
				<td style="color:white"  >					
				    <label class="control-label">Grand Total</label>
				</td>									
				<td style="color:white"  > -->				    
<!-- 				    <span class="form-control" style="width:70%; text-align:right; color:blue; background-color:whitesmoke"  >{{subTotal - payment.disc | currency :'Rp '}} </span>
				</td>												
			</tr> -->
		</table>
		<hr>
		
		<!--  INPUT Pembayaran -->
		<table border="0" style="width:50%;" >		
			<col width="20%">
			<col width="44%">
	  		<col width="1%">
	  		<col width="44%">
			<tr>
				<td style="color:white"  >					
				    <label class="col-sm-2 control-label">Tunai</label>
				</td>									
				<td style="color:white"  >
					<label ></label>						    
				</td>
				<td style="color:white" >					
				      <label ></label>		
				</td>									
				<td style="color:white" >					
				    <input type='number' step="100000" min="0" ng-model='payment.cash' class="form-control" placeholder='Jumlah Tunai'/>   
				</td>									
				
			</tr>
			<tr>
				<td style="color:white" >					
				    <label class="col-sm-2 control-label" >Debet</label>
				</td>									
				<td style="color:white"  >
				    <select class="form-control" 
		                  id="bankKredit"
		                  ng-model="selectedBankDebet"                   
		                  ng-options="bank.name  for bank in banks track by bank.id"
		                  style="width:100%"
		                  ></select>   
				</td>
				<td style="color:white" >					
				      <label ></label>		
				</td>									
				<td style="color:white" >					
				    <input type='number' step="100000" min="0" ng-model='payment.debit' class="form-control" placeholder='Jumlah Debet'/> 
				</td>													
			</tr>
			<tr>
				<td style="color:white" >					
				    <label class="col-sm-2 control-label" >Kredit</label>
				</td>									
				<td style="color:white"  >
				    <select class="form-control" 
		                  id="bankKredit"
		                  ng-model="selectedBankKredit"                   
		                  ng-options="bank.name  for bank in banks track by bank.id"
		                  style="width:100%"
		                  ></select>   
				</td>
				<td style="color:white" >					
				      <label ></label>		
				</td>									
				<td style="color:white" >					
				    <input type='number' step="100000" min="0" ng-model='payment.credit' class="form-control" placeholder='Jumlah Kredit'/> 
				</td>													
			</tr>
		</table>
		<hr>
		<!-- END INPUT PEMBAYARAN -->
		<div class="well well-lg">
			<h2 style="color:blue">Kembali : {{(payment.cash + payment.debit + payment.credit) - ( (payment.transactionTotal - payment.discTransaction) + (payment.pharmacyTotal - payment.discPharmacy) )  | currency :'Rp '}}</h2>
		</div>
		<br>

	</div>
	<br>
</div>