<div growl></div> 

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Input Transaksi / Tindakan </h3>
  </div>
  <div class="panel-body">
	<div id="PanelPencarian" class='container-fluid' collapse="tutupGrid" style="background-color:whitesmoke" >
		<br>
		<div class='container-fluid' style="background-color:#CEECF5" >	
		<br>
		Cari no Reg     : <input type='text' ng-model='searchNoUrut' ng-change='getAll()' >		
		Tgl Reg  : 
			<input type="text" 						
				datepicker-popup="dd-MMM-yyyy" 
				ng-model="tgl" 
				is-open="opened" 
				datepicker-options="dateOptions" 
				date-disabled="disabled(date, mode)" 
				ng-required="true" 
				id='tgl'
				close-text="Tutup" 					
				size='15%'
				/>
				<button type="button" class="btn btn-info" ng-click="open($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>			
		<button class="btn btn-default " size='10%' ng-click='getAll()'  ><span class="glyphicon glyphicon-refresh" aria-hidden="true">    Refresh   </button>
		
		<br>	
		<br>	
		</div>

		<table class="table table-bordered table-striped table-condensed table-hover" style="background-color:#D6EBFF" >
			<thead>
				<tr>								
					<td width="5%" align="center"><button class="btn btn-block btn-default" >Id</button></td>
					<td width="12%" ><button class="btn btn-block btn-default" >Tanggal</button></td>
					<td width="12%" ><button class="btn btn-block btn-default" >Jam</button></td>
				    <td width="15%"><button class="btn btn-block btn-default" >No Reg</button></td> 
				    <td width="10%"><button class="btn btn-block btn-default" >No RM</button></td>
				    <td width="10%"><button class="btn btn-block btn-default" >Nama</button></td>	
				    <td width="10%"><button class="btn btn-block btn-default" >Batal</button></td>	
				    <td width="10%" ></td>
				    <td width="10%" ></td>
				    <!-- <td width="10%"></td> -->
				</tr>	
			</thead>
			<tbody>
				<tr ng-repeat='registasi in registrasis | orderBy:orderRegistrasi ' >
					<td>{{registasi.idRegistration}}</td>
					<td>{{registasi.registrationDate | date:'dd-MMM-yyyy'}}</td>					
					<td>{{registasi.registrationTime | date:'hh:mm:ss'}}</td>					
					<td>{{registasi.registrationNo}}</td>				
				    <td>{{registasi.patient.patientNo }}</td> 
				    <td>{{registasi.patient.patientName}}</td> 
				    <td>{{registasi.isVoid}}</td>									    
				    <td><button type='button' class='btn btn-danger  btn-block'
				    	ng-click='proses(registasi.idRegistration)'
				    	><span class="glyphicon glyphicon-new-window" aria-hidden="true"> New</button></td>		    
				    <td><button type='button' class='btn btn-success btn-block'
				    	ng-click='viewPanelDetil(registasi.registrationNo,registasi.patient.patientNo,registasi.patient.patientName)'
				    	><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"> View</button></td>		    
				</tr>		
			</tbody>
		</table>

		<!-- PAGING -->
		<div class="container">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" 
         	ng-model="currentPage" ng-change="pageChanged()" max-size="10" boundary-links="true" rotate="false"></pagination>
    	</div> <!-- END PAGING -->

	</div>	<!-- END Panel-Pencarian -->
	<br>
	<!-- ======================================================= -->
	<!-- DETIL -->
	<!-- ======================================================= -->
	<div id="PanelDetil" class='container-fluid' style="background-color:#E0F8E0" collapse="isCollapsed"  >
		<h3>detil data</h3>
			{{selectedNama}} / {{selectedRM}} / {{selectedNoReg}}
			<table class="table  table-striped  table-hover" style="background-color:#BCF5A9; width:80% " >
				<thead>
					<tr>								
						<td width="5%" align="center">Id</td>
						<td width="12%" >No Transaksi</td>
						<td width="12%" >Tanggal</td>
					    <td width="15%">Approve</td> 
					    <td width="10%">Void</td>
					    <td width="10%">Paid</td>	
					    <td width="10%">Total</td>						   
					    <!-- <td width="10%"></td> -->
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat='transaksiHd in transaksiHds | orderBy:orderRegistrasi ' >
						<td><a href="#/transaksiDetil/{{transaksiHd.idTransactionHdr}}/status/edit"> {{transaksiHd.idTransactionHdr}}</a></td>
						<td><a href="#/transaksiDetil/{{transaksiHd.idTransactionHdr}}/status/edit">{{transaksiHd.transactionNo}}</a></td>					
						<td>{{transaksiHd.transactionDate | date:'dd-MMM-yy'}}</td>					
						<td>{{transaksiHd.isApprove}}</td>				
					    <td>{{transaksiHd.isVoid }}</td> 
					    <td>{{transaksiHd.isPaid}}</td> 
					    <td>{{transaksiHd.total}}</td>									    		
					</tr>		
				</tbody>
			</table>
			<!-- PAGING -->
			<div class="container">
	        <pagination total-items="totalItems2" items-per-page="itemsPerPage2" 
	         	ng-model="currentPage2" ng-change="pageChanged2()" max-size="10" boundary-links="true" rotate="false"></pagination>
	    	</div> <!-- END PAGING -->

		<button type='button' class='btn btn-warning' ng-click='isCollapsed=!isCollapsed'><span class="glyphicon glyphicon-resize-small" aria-hidden="true"> close</button>
		<br>
		<br>
	</div>
	<!-- ======================================================= -->
	<!-- END DETIL -->
	<!-- ======================================================= -->
  </div> <!-- END PANEL BODY -->

</div>